.theme-switcher[data-v-2876e797]{position:relative;padding:0;border-radius:1.25rem;background-color:transparent;border:none;cursor:pointer}.theme-switcher svg[data-v-2876e797]{width:2rem;height:2rem}
