[data-theme="light"] {
  --background: #fff;
  --color: #000;
  --shadow: #0004;
}

[data-theme="dark"] {
  --background: #000;
  --color: #fff;
  --shadow: #fff4;
}

:root {
  --grey: #8884;

  font-family: 'Victor Mono', system-ui, sans-serif;

  scroll-behavior: smooth;

  transition: color 1s, background 1s, backgroundColor 1s, boxShadow 1s;
  -webkit-transition: color 1s, background 1s, backgroundColor 1s, boxShadow 1s;
  -moz-transition: color 1s, background 1s, backgroundColor 1s, boxShadow 1s;
  -ms-transition: color 1s, background 1s, backgroundColor 1s, boxShadow 1s;
  -o-transition: color 1s, background 1s, backgroundColor 1s, boxShadow 1s;

  background: var(--background);
  color: var(--color);
}

@media (orientation: portrait) {
  :root {
    font-size: 3vmin;
  }
}
@media (orientation: landscape) {
  :root {
    font-size: 2vmin;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  height: 100vh;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

header,
footer {
  padding: 0.25rem 0.5rem;
}
